body {
  background-color: black;
}

#container {
  margin: 0 auto;
  width: 700px;
  height: 700px;
  color: #ecf0f1;
  font-family: Sans-Serif;
}

#game-title {
  text-align: center;
  font-size: 30px;
  margin: 5px;
}

#image-box {
  background-color: #8e44ad;
  width: 700px;
  height: 500px;
}

#message {
  width: 700px;
  padding: 5px;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

#list-group {
  list-style-type: none;
  margin: 0 auto;
}

#choices {
  margin: 0 auto;
  width: 500px;
  height: 55px;
  font-size: 30px;
  list-style-type: none;
}

.list-group-item {
  float: left;
  margin: 1%;
  text-decoration: underline;
}

.list-group-item:hover {
  cursor: pointer;
  color: #8e44ad;
}
